@using CinderellaCore.Web.Models
@model CinderellaCore.Web.Models.ShowcaseViewModel
@{
	ViewBag.Title = Model.ViewTitle;
}

<script>
	$("#main-body").removeClass("container");
</script>

<div class="container">
	<div class="h2 col-md-5">
		Item Showcase
		@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
		{
			<a class="btn btn-default" href="@Url.Action("Add", "Showcase")" style="padding-top: 1.25em;" contenteditable="false">
				<span class="fa fa-plus"></span>
			</a>
		}
	</div>
</div>

@if (Model.Albums.Any())
{
	<h2 class="container">
		@if (DateTime.UtcNow.DayOfWeek == DayOfWeek.Friday)
		{
			<span>Heavy Metal Friday</span>
		}
		else
		{
			<span>Albums</span>
		}
	</h2>

	<div style="padding-left: 0; padding-right: 0;">
		<div id="albumCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="detailsContainer">
						<div class="background-image" style="background: url('@Model.Albums[0].ImageUrl');"></div>
						<div class="contentContainer centered">
							<a href="@Url.Action("Details", "Album", new {id = Model.Albums[0].ID})" style="height: 500px;width: 500px;">
								<img class="album d-block img-fluid" src="@Model.Albums[0].ImageUrl" alt="@(Model.Albums[0].Artist + "-" + Model.Albums[0].Title)" style="height: 100%; width: 100%;">
							</a>
						</div>
					</div>
					<div class="centered">@Model.Albums[0].Title - @Model.Albums[0].Artist (@Model.Albums[0].YearReleased)</div>
				</div>
				@for (var i = 1; i < Model.Albums.Count; i++)
				{
					<div class="item">
						<div class="detailsContainer">
							<div class="background-image" style="background: url('@Model.Albums[i].ImageUrl');"></div>
							<div class="contentContainer centered">
								<a href="@Url.Action("Details", "Album", new {id = Model.Albums[i].ID})" style="height: 500px;width: 500px;">
									<img class="album d-block img-fluid" src="@Model.Albums[i].ImageUrl" alt="@(Model.Albums[i].Artist + "-" + Model.Albums[i].Title)" style="height: 100%; width: 100%;">
								</a>
							</div>
						</div>
						<div class="centered">@Model.Albums[i].Title - @Model.Albums[i].Artist (@Model.Albums[i].YearReleased)</div>
					</div>
				}
			</div>
			<a class="left carousel-control" href="#albumCarousel" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#albumCarousel" role="button" data-slide="next">
				<span class="sr-only">next</span>
			</a>
		</div>
	</div>
}

@if (Model.Books.Any())
{
	<h2 class="container">Books</h2>
	<div>
		<div id="bookCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="detailsContainer">
						<div class="background-image" style="background: url('@Model.Books[0].ImageUrl');"></div>
						<div class="contentContainer centered">
							<a href="@Url.Action("Details", "Book", new {id = Model.Books[0].ID})" style="height: 900px;width: 600px;">
								<img class="book d-block img-fluid" src="@Model.Books[0].ImageUrl" alt="@(Model.Books[0].Author + "-" + Model.Books[0].Title)" style="height: 100%; width: 100%;">
							</a>
						</div>
					</div>
					<div class="centered">@Model.Books[0].Title - @Model.Books[0].Author (@Model.Books[0].YearReleased)</div>
				</div>
				@for (var i = 1; i < Model.Books.Count; i++)
				{
					<div class="item">
						<div class="detailsContainer">
							<div class="background-image" style="background: url('@Model.Books[0].ImageUrl');"></div>
							<div class="contentContainer centered">
								<a href="@Url.Action("Details", "Book", new {id = Model.Books[0].ID})" style="height: 900px;width: 600px;">
									<img class="book d-block img-fluid" src="@Model.Books[i].ImageUrl" alt="@(Model.Books[i].Author + "-" + Model.Books[i].Title)" style="height: 100%; width: 100%;">
								</a>
							</div>
						</div>
						<div class="centered">@Model.Books[i].Title - @Model.Books[i].Author (@Model.Books[i].YearReleased)</div>
					</div>
				}
			</div>
			<a class="left carousel-control" href="#bookCarousel" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#bookCarousel" role="button" data-slide="next">
				<span class="sr-only">next</span>
			</a>
		</div>
	</div>
}

@if (Model.Games.Any())
{
	<h2 class="container">Games</h2>
	<div>
		<div id="gameCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="detailsContainer">
						<div class="background-image" style="background: url('@Model.Games[0].ImageUrl');"></div>
						<div class="contentContainer centered">
							<a class="game" href="@Url.Action("Details", "Game", new {id = Model.Games[0].ID})" style="height: 500px;width: 500px;">
								<img class="d-block img-fluid" src="@Model.Games[0].ImageUrl" alt="@Model.Games[0].Title" style="height: 100%; width: 100%;">
							</a>
						</div>
					</div>
					<div class="centered">@Model.Games[0].Title (@Model.Games[0].YearReleased)</div>
				</div>
				@for (var i = 1; i < Model.Games.Count; i++)
				{
					<div class="item">
						<div class="detailsContainer">
							<div class="background-image" style="background: url('@Model.Games[0].ImageUrl');"></div>
							<div class="contentContainer centered">
								<a class="game" href="@Url.Action("Details", "Game", new {id = Model.Games[0].ID})" style="height: 500px;width: 500px;">
									<img class="d-block img-fluid" src="@Model.Games[i].ImageUrl" alt="@Model.Games[i].Title" style="height: 100%; width: 100%;">
								</a>
							</div>
						</div>
						<div class="centered">@Model.Games[i].Title (@Model.Games[i].YearReleased)</div>
					</div>
				}
			</div>
			<a class="left carousel-control" href="#gameCarousel" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#gameCarousel" role="button" data-slide="next">
				<span class="sr-only">next</span>
			</a>
		</div>
	</div>
}

@if (Model.Movies.Any())
{
	<h2 class="container">Movies/TV</h2>
	<div>
		<div id="movieCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="detailsContainer">
						<div class="background-image" style="background: url('@Model.Movies[0].ImageUrl');"></div>
						<div class="contentContainer centered">
							<a href="@Url.Action("Details", "Movie", new {id = Model.Movies[0].ID})" style="height: 900px;width: 600px;">
								<img class="movie d-block img-fluid" src="@Model.Movies[0].ImageUrl" alt="@Model.Movies[0].Title" style="height: 100%; width: 100%;">
							</a>
						</div>
					</div>
					<div class="centered">@Model.Movies[0].Title (@Model.Movies[0].YearReleased)</div>
				</div>
				@for (var i = 1; i < Model.Movies.Count; i++)
				{
					<div class="item">
						<div class="detailsContainer">
							<div class="background-image" style="background: url('@Model.Movies[0].ImageUrl');"></div>
							<div class="contentContainer centered">
								<a href="@Url.Action("Details", "Movie", new {id = Model.Movies[i].ID})" style="height: 900px;width: 600px;">
									<img class="movie d-block img-fluid" src="@Model.Movies[i].ImageUrl" alt="@Model.Movies[i].Title" style="height: 100%; width: 100%;">
								</a>
							</div>
						</div>
						<div class="centered">@Model.Movies[i].Title (@Model.Movies[i].YearReleased)</div>
					</div>
				}
			</div>
			<a class="left carousel-control" href="#movieCarousel" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#movieCarousel" role="button" data-slide="next">
				<span class="sr-only">next</span>
			</a>
		</div>
	</div>
}

@if (Model.Pops.Any())
{
	<h2 class="container">Pops</h2>
	<div>
		<div id="popCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="detailsContainer">
						<div class="background-image" style="background: url('@Model.Pops[0].ImageUrl');"></div>
						<div class="contentContainer centered">
							<a href="@Url.Action("Details", "Pop", new {id = Model.Pops[0].ID})" style="height: 500px;width: 500px;">
								<img class="d-block img-fluid" src="@Model.Pops[0].ImageUrl" alt="@(Model.Pops[0].Title + "-" + Model.Pops[0].Series)">
							</a>
						</div>
					</div>
					<div class="centered">@Model.Pops[0].Title (@Model.Pops[0].YearReleased)</div>
				</div>
				@for (var i = 1; i < Model.Pops.Count; i++)
				{
					<div class="item">
						<div class="detailsContainer">
							<div class="background-image" style="background: url('@Model.Pops[0].ImageUrl');"></div>
							<div class="contentContainer centered">
								<a href="@Url.Action("Details", "Pop", new {id = Model.Pops[0].ID})" style="height: 500px;width: 500px;">
									<img class="d-block img-fluid" src="@Model.Pops[i].ImageUrl" alt="@(Model.Pops[i].Title + "-" + Model.Pops[i].Series)">
								</a>
							</div>
						</div>
						<div class="centered">@Model.Pops[i].Title (@Model.Pops[i].YearReleased)</div>
					</div>
				}
			</div>
			<a class="left carousel-control" href="#popCarousel" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#popCarousel" role="button" data-slide="next">
				<span class="sr-only">next</span>
			</a>
		</div>
	</div>
}